## Part 1: Preprocessing

In [60]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [61]:
# Determine the number of unique values in each column
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [62]:
# Create y_df with the Attrition and Department columns
y_df = attrition_df[['Attrition', 'Department']]
y_df.head()

  Attrition              Department
0       Yes                   Sales
1        No  Research & Development
2       Yes  Research & Development
3        No  Research & Development
4        No  Research & Development

In [63]:
# Create a list of at least 10 column names to use as X data
x_cols = attrition_df.drop(columns=["Attrition", "Department"]).columns

# Create X_df using your selected columns
X_df = attrition_df[x_cols]

# Show the data types for X_df
X_df.dtypes

Age                          int64
BusinessTravel              object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [64]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [84]:
# testing/debugging code
display(X_train.shape)
display(X_test.shape)

(1102, 25)

(368, 25)

In [ ]:
# Convert your X data to numeric data types however you see fit
# collecting all non-int64 objects into a list
from numpy import int64
from sklearn.preprocessing import OneHotEncoder

# getting all non numeric columns
non_numeric_cols = X_df.dtypes[X_df.dtypes == "object"].index.tolist()

# encoding them
encoder = OneHotEncoder(sparse_output=False)
X_train_enc = pd.DataFrame(encoder.fit_transform(X_train[non_numeric_cols]), 
                           columns=encoder.get_feature_names_out(non_numeric_cols))
X_test_enc = pd.DataFrame(encoder.transform(X_test[non_numeric_cols]),
                          columns=encoder.get_feature_names_out(non_numeric_cols))

# sticking them back to the original df
X_train_encoded = X_train.merge(X_train_enc, left_index=True, right_index=True)
X_train_encoded.drop(non_numeric_cols, axis=1, inplace=True)

X_test_encoded = X_test.merge(X_test_enc, left_index=True, right_index=True)
X_test_encoded.drop(non_numeric_cols, axis=1, inplace=True)

X_train_encoded.head()
# STOPPED HERE: SHAPES ARE DIFFERENT after merge OR concat operation, I suspect a handful of indexes get mixed around in the operation

,Age,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,NumCompaniesWorked,PercentSalaryHike,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
1203,53.0,24.0,4.0,2.0,48.0,4.0,3.0,4.0,3.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1195,49.0,1.0,3.0,3.0,36.0,3.0,4.0,3.0,4.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27.0,2.0,1.0,1.0,40.0,3.0,1.0,2.0,9.0,12.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
849,43.0,9.0,3.0,1.0,85.0,1.0,2.0,3.0,8.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1432,37.0,10.0,3.0,3.0,42.0,4.0,3.0,4.0,1.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0

In [90]:
# testing/debugging code
display(X_train_enc.shape)
display(X_test_enc.shape)
display(X_train_encoded.shape)
display(X_test_encoded.shape)

(1102, 23)

(368, 23)

(1387, 43)

(113, 43)

In [66]:
# Create a StandardScaler
scaler = StandardScaler()

# Fit the StandardScaler to the training data
X_train_encoded_scaled = scaler.fit_transform(X_train_encoded)

# Scale the training and testing data
X_test_encoded_scaled = scaler.transform(X_test_encoded)

In [87]:
display(X_train_encoded_scaled.shape)
display(X_test_encoded_scaled.shape)

(817, 43)

(113, 43)

In [67]:
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder for the Department column
ohe = OneHotEncoder(sparse_output=False, drop='first')

# Fit the encoder to the training data
y_train_department = ohe.fit_transform(y_train[['Department']])


# Create two new variables by applying the encoder
# to the training and testing data
y_train_department = pd.DataFrame(y_train_department, columns=ohe.get_feature_names_out(['Department']))

y_train_department.head()

   Department_Research & Development  Department_Sales
0                                1.0               0.0
1                                1.0               0.0
2                                1.0               0.0
3                                0.0               1.0
4                                1.0               0.0

In [68]:
# doing the same for the testing departments
y_test_department = ohe.transform(y_test[['Department']])
y_test_department = pd.DataFrame(y_test_department, columns=ohe.get_feature_names_out(['Department']))
y_test_department.head()

   Department_Research & Development  Department_Sales
0                                1.0               0.0
1                                1.0               0.0
2                                1.0               0.0
3                                1.0               0.0
4                                0.0               1.0

In [69]:
# Create a OneHotEncoder for the Attrition column
ohe_attrition = OneHotEncoder(sparse_output=False, drop='first')

# Fit the encoder to the training data
y_train_attrition = ohe_attrition.fit_transform(y_train[["Attrition"]])

# Create two new variables by applying the encoder
# to the training and testing data
y_train_attrition = pd.DataFrame(y_train_attrition, columns=ohe_attrition.get_feature_names_out(["Attrition"]))
y_train_attrition.head()

   Attrition_Yes
0            0.0
1            0.0
2            0.0
3            1.0
4            0.0

In [70]:
# doing the same for the test attritions
y_test_attrition = ohe_attrition.transform(y_test[["Attrition"]])
y_test_attrition = pd.DataFrame(y_test_attrition, columns=ohe_attrition.get_feature_names_out(["Attrition"]))
y_test_attrition.head()

   Attrition_Yes
0            1.0
1            0.0
2            0.0
3            0.0
4            1.0

## Part 2: Create, Compile, and Train the Model

In [71]:
# Find the number of columns in the X training data.
input_features = len(X_train_encoded_scaled[0])

# Create the input layer
input_layer = layers.Input(shape=(input_features,), name='input_layer')

# Create at least two shared layers
dense_shared_1 = layers.Dense(units=4, activation='relu')(input_layer)
dense_shared_2 = layers.Dense(units=4, activation='relu')(dense_shared_1)

In [72]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer
department_dense = layers.Dense(4, activation='relu')(dense_shared_2)

# Create the output layer
department_output = layers.Dense(len(y_train_department.columns), activation="sigmoid", name="department_output")(department_dense)

In [73]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer
attrition_dense = layers.Dense(4, activation='relu')(dense_shared_2)

# Create the output layer
attrition_output = layers.Dense(len(y_train_attrition.columns), activation='sigmoid', name="attrition_output")(attrition_dense)

In [74]:
# Create the model
model = Model(inputs=input_layer, outputs={
    "department_output": department_output,
    "attrition_output": attrition_output 
})

# Compile the model
model.compile(optimizer="adam",
            loss={
                "attrition_output": "binary_crossentropy",
                "department_output": "categorical_crossentropy"
            },
            metrics={
                "attrition_output": "accuracy",
                "department_output": "accuracy" 
                })

# Summarize the model
model.summary()

Model: "functional_1"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape      ┃    Param # ┃ Connected to      ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━┩
│ input_layer         │ (None, 43)        │          0 │ -                 │
│ (InputLayer)        │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_11 (Dense)    │ (None, 4)         │        176 │ input_layer[0][0] │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_12 (Dense)    │ (None, 4)         │         20 │ dense_11[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_14 (Dense)    │ (None, 4)         │         20 │ dense_12[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ dense_13 (Dense)    │ (None, 4)         │         20 │ dense_12[0][0]    │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ attrition_output    │ (None, 1)         │          5 │ dense_14[0][0]    │
│ (Dense)             │                   │            │                   │
├─────────────────────┼───────────────────┼────────────┼───────────────────┤
│ department_output   │ (None, 2)         │         10 │ dense_13[0][0]    │
│ (Dense)             │                   │            │                   │
└─────────────────────┴───────────────────┴────────────┴───────────────────┘

 Total params: 251 (1004.00 B)

 Trainable params: 251 (1004.00 B)

 Non-trainable params: 0 (0.00 B)

In [75]:
# Train the model
model.fit(
    X_train_encoded_scaled,
    {
        "attrition_output": y_train_attrition,
        "department_output": y_train_department 
    },
    epochs=10,  # You can adjust the number of epochs based on your needs
    batch_size=32,  # You can adjust the batch size based on your available memory
    validation_split=0.2  # You can specify the validation split if you have a separate validation set
)

Epoch 1/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 3s 20ms/step - attrition_output_accuracy: 0.3283 - attrition_output_loss: 0.8061 - department_output_accuracy: 0.3346 - department_output_loss: 0.9786 - loss: 1.7843 - val_attrition_output_accuracy: 0.4695 - val_attrition_output_loss: 0.7192 - val_department_output_accuracy: 0.3537 - val_department_output_loss: 0.9412 - val_loss: 1.6289
Epoch 2/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.4630 - attrition_output_loss: 0.7428 - department_output_accuracy: 0.3314 - department_output_loss: 0.8642 - loss: 1.6068 - val_attrition_output_accuracy: 0.6463 - val_attrition_output_loss: 0.6753 - val_department_output_accuracy: 0.4085 - val_department_output_loss: 0.8313 - val_loss: 1.4968
Epoch 3/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.6154 - attrition_output_loss: 0.7072 - department_output_accuracy: 0.3931 - department_output_loss: 0.7841 - loss: 1.4913 - val_attrition_output_accuracy: 0.7317 - val_attrition_output_loss: 0.6508 - val_department_output_accuracy: 0.4268 - val_department_output_loss: 0.7647 - val_loss: 1.4143
Epoch 4/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.7213 - attrition_output_loss: 0.6737 - department_output_accuracy: 0.4261 - department_output_loss: 0.7289 - loss: 1.4032 - val_attrition_output_accuracy: 0.8049 - val_attrition_output_loss: 0.6340 - val_department_output_accuracy: 0.4634 - val_department_output_loss: 0.7245 - val_loss: 1.3617
Epoch 5/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.7786 - attrition_output_loss: 0.6475 - department_output_accuracy: 0.5001 - department_output_loss: 0.6885 - loss: 1.3360 - val_attrition_output_accuracy: 0.8049 - val_attrition_output_loss: 0.6208 - val_department_output_accuracy: 0.5183 - val_department_output_loss: 0.6957 - val_loss: 1.3234
Epoch 6/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8043 - attrition_output_loss: 0.6315 - department_output_accuracy: 0.5526 - department_output_loss: 0.6633 - loss: 1.2949 - val_attrition_output_accuracy: 0.8232 - val_attrition_output_loss: 0.6092 - val_department_output_accuracy: 0.5610 - val_department_output_loss: 0.6755 - val_loss: 1.2937
Epoch 7/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8191 - attrition_output_loss: 0.6186 - department_output_accuracy: 0.5811 - department_output_loss: 0.6610 - loss: 1.2801 - val_attrition_output_accuracy: 0.8293 - val_attrition_output_loss: 0.5985 - val_department_output_accuracy: 0.5854 - val_department_output_loss: 0.6599 - val_loss: 1.2694
Epoch 8/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8429 - attrition_output_loss: 0.6007 - department_output_accuracy: 0.6216 - department_output_loss: 0.6398 - loss: 1.2404 - val_attrition_output_accuracy: 0.8232 - val_attrition_output_loss: 0.5879 - val_department_output_accuracy: 0.6159 - val_department_output_loss: 0.6501 - val_loss: 1.2509
Epoch 9/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8578 - attrition_output_loss: 0.5875 - department_output_accuracy: 0.6400 - department_output_loss: 0.6238 - loss: 1.2113 - val_attrition_output_accuracy: 0.8232 - val_attrition_output_loss: 0.5775 - val_department_output_accuracy: 0.6220 - val_department_output_loss: 0.6422 - val_loss: 1.2347
Epoch 10/10
21/21 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - attrition_output_accuracy: 0.8464 - attrition_output_loss: 0.5800 - department_output_accuracy: 0.6386 - department_output_loss: 0.6288 - loss: 1.2086 - val_attrition_output_accuracy: 0.8232 - val_attrition_output_loss: 0.5680 - val_department_output_accuracy: 0.6341 - val_department_output_loss: 0.6358 - val_loss: 1.2205

In [83]:
display(X_test_encoded_scaled.shape)
display(y_test_attrition.shape)
display(y_train_attrition.shape)

(113, 43)

(368, 1)

(1102, 1)

In [80]:
# Evaluate the model with the testing data
results = model.evaluate(X_test_encoded_scaled, {
        "attrition_output": y_test_attrition,
        "department_output": y_test_department 
    })

ValueError: Data cardinality is ambiguous. Make sure all arrays contain the same number of samples.'x' sizes: 113
'y' sizes: 368, 368

In [ ]:
# Print the accuracy for both department and attrition

Attrition predictions accuracy: 0.7880434989929199
Department predictions accuracy: 0.5

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.